# Kobo API Configuration
KOBO_TOKEN=712ea38442db1feb8191ac47fbad4292dc22eedf
ASSET_ID=az5eCmuhQRZzfgr4c6frK5
KOBO_BASE_URL=https://kf.kobotoolbox.org

# Database Configuration (Session Pooler)
DB_HOST=aws-0-ap-southeast-1.pooler.supabase.com
DB_NAME=postgres
DB_USER=postgres.wfbhxjthmkqvcunmnw
DB_PASSWORD=Butcheableng@123
DB_PORT=6543